<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<br><br>
<div id="div1">
 <h4> Gracias por utilizar DICTADO ESPRESSO</h4>
 <p id="texto1">Thank you for using DICTADO ESPRESSO</p> 
<hr>
 <h4> Si observas algún error o enlace roto,<br> envíanos un mensaje a </h4> 
 <p id="texto1">if you notice any error or broken link,<br>please send us a message to the following e-mail address</p> 

 <p class="blue">alumnoespanyol@gmail.com</p> 
<hr>
<h4> Tu opinión es importante, envíanos tus comentarios y sugerencias para seguir mejorando.</h4> 
 <p id="texto1">Your opinion is important, send us your comments and suggestions for further improvement.</p>

<br>
</div>
<p id="texto"> El contenido de esta página fue preparado por</p>
<p>María Nelly López para</p>
<div id="div2">
<img class="imagen1" src="/assets/img/1.jpg" width="100%" height="75%">
</div>

<div id="div3">
<button type="button"><a routerLink="/barra">REGRESAR/BACK</a></button>
</div>