<main>
<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>

<br><br>
<p id="texto3"> <b>El contenido de esta página fue preparado por </b></p>
<p id="texto3"> <b>O conteúdo desta página foi preparado por </b></p>
<p id="texto3"> <b> María Nelly López para </b></p>

<div class="ubicar2">
<div id="div2">
<img class="imagen1" src="/assets/img/1.jpg" width="100%" height="75%">
</div>
</div>

<div id="div1">
 <h6> Gracias por utilizar DICTADO ESPRESSO</h6>
 <h6 id="texto2"> Obrigado por utilizar o DICTADO ESPRESSO</h6>
 <p id="texto1">Thank you for using DICTADO ESPRESSO</p> 
<hr>
 <h6> Si observas algún error o enlace roto,<br> envíanos un mensaje a </h6> 
 <h6 id="texto2"> Se detectar quaisquer erros ou ligações quebradas,<br> envie-nos uma mensagem para </h6> 
 <p id="texto1">if you notice any error or broken link,<br>please send us a message to the following e-mail address</p> 

 <p class="blue">alumnoespanyol@gmail.com</p> 
<hr>

 <h6 id="texto1"> Para contratar espacio publicitario <br>o contratar personalización/patrocinio de test, <br> contáctanos igualmente a través de </h6> 
 <h6 id="texto1"> Para contratar espaço publicitário <br>ou para contratar a personalização/patrocínio de testes,<br> contacte-nos também em </h6> 

 <p class="blue">alumnoespanyol@gmail.com</p> 

<hr>
<h6> Tu opinión es importante, envíanos tus comentarios y sugerencias para seguir mejorando.</h6> 
<h6 id="texto2"> A sua opinião é importante, envie-nos os seus comentários e sugestões para melhorarmos ainda mais. </h6> 
 <p id="texto1">Your opinion is important, send us your comments and suggestions for further improvement.</p>
</div>


<div id="div3">
<button type="button"><a routerLink="/barra">REGRESAR/BACK</a></button>
</div>

</main>