.container {
	background-color: #3f525c;
	width: 400px;
	text-align: center;
}

.enlace {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 900;
}

.ES {
	color: #fff;
	font-size: 1.1rem;
	font-weight: 900;
}

.EN {
	color: #d5e1df;
	font-size: 1.1rem;
	font-weight: 900;
}

.PT {
	color: #e3eaa7;
	font-size: 1.1rem;
	font-weight: 900;
}


