<main>
<br>
<div class="display:inline categoria" *ngFor='let categoria of categorias | slice:inicialnivel:finalnivel'>  
        
        <b>{{categoria.idioma|uppercase}}</b> 
			{{espacio}}
        <b>{{categoria.modo|titlecase}}</b>
			{{espacio}}
		<kbd>{{categoria.nivel|titlecase}}</kbd>
</div>

<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<button type="button" class="enlace1" *ngFor='let categoria of categorias | slice:19:20'><a routerLink="/numerosPrincipiantePT">Números / Principiante</a></button>
<button type="button" class="enlace2" *ngFor='let categoria of categorias | slice:16:17'><a routerLink="/ptsecuencias">Palavras / Sequência</a></button>


<div style="display:grid" class="grid2">

<button type="button" class="button grid2 sizebtn"
	(click)="funcion(); borrar.emit()"> Gerar palavra/frase </button> 
<br>
<p class="ocultar"> {{final}} </p>	
<p class="ocultar"> {{inicial}} </p>


<ul class="grid2">
<li *ngFor="let espalabra of espalabras" >
			{{espalabra}}
</li>
<li class="palabraEN" *ngFor="let enpalabra of enpalabras" >
			{{enpalabra}}
</li>

</ul>
</div>

<div>
<app-escribe (guardartexto)="onGuardartexto(); comparar.emit()" ></app-escribe> 
</div>


<div style="display:grid" class="grid3"> 
	<button type="button" class="button grid3" (click)="show = !show">{{show ? 'Ocultar resposta' : 'Mostrar resposta'}}</button>
    <!-- show = {{show}} permite ver el cambio de true o false -->
    <br>
<ul class="grid3" *ngIf="show">
<li *ngFor="let ptpalabra of ptpalabras" >
			{{ptpalabra}}
</li>
</ul>
</div>

<ng-container *ngIf="compararService.gradoA"> 
<app-animacion2></app-animacion2>
</ng-container> 

</main>
