<br>
<div class="display:inline categoria" *ngFor='let categoria of categorias | slice:inicialnivel:finalnivel'>  
        
        <b>{{categoria.idioma|uppercase}}</b> 
			{{espacio}}
        <b>{{categoria.modo|titlecase}}</b>
			{{espacio}}
		<kbd>{{categoria.nivel|titlecase}}</kbd>
</div>

<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<button type="button" class="enlace1" *ngFor='let categoria of categorias | slice:19:20'><a routerLink="/numerosPrincipiantePT">Numeros / Principiante</a></button>
<button type="button" class="enlace2" *ngFor='let categoria of categorias | slice:16:17'><a routerLink="/ptsecuencias">Palabras / Secuencias</a></button>


<div style="display:grid" class="grid2">

<button type="button" class="button grid2 sizebtn"
	(click)="funcion(); borrar.emit()"> Genera palabra/frase </button> 
<br>
<p class="ocultar"> {{final}} </p>	
<p class="ocultar"> {{inicial}} </p>


<ul class="grid2">
<li *ngFor="let espalabra of espalabras" >
			{{espalabra}}
</li>
<li class="palabraEN" *ngFor="let enpalabra of enpalabras" >
			{{enpalabra}}
</li>

</ul>
</div>


<app-escribe (guardartexto)="onGuardartexto(); comparar.emit()" ></app-escribe> 



<div style="display:grid" class="grid3"> 
	<button type="button" class="button grid3" (click)="show = !show">{{show ? 'Ocultar respuesta' : 'Mostrar respuesta'}}</button>
    <!-- show = {{show}} permite ver el cambio de true o false -->
    <br>
<ul class="grid3" *ngIf="show">
<li *ngFor="let ptpalabra of ptpalabras" >
			{{ptpalabra}}
</li>
</ul>
</div>

<!-- <li *ngFor="let espalabra of espalabras | slice:inicial:final"> -->
<!-- <ul class="palabras">
  <li *ngFor="let palabra of palabras | slice:0:3" >
    <button type="button">
      <span class="badge">{{palabra.id}}</span>
      <span class="name">{{palabra.esFrase}}</span>
	  <span class="name">{{palabra.ptFrase}}</span>
    </button>
  </li>
</ul>	 -->

<!-- 
<tbody>
      <tr *ngFor='let palabra of palabras; index as i'>
        <th scope='row'>{{i + 1}}</th>
        <td>{{palabra.id}}</td>
        <td>{{palabra.esFrase}}</td>
        <td>{{palabra.ptFrase}}</td>        
      </tr>
</tbody>
 -->




