.job-ad {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  width: 150px;
  height: 500px;
}

.head{
	font-weight:900;
	text-shadow: 1px 1px #feb236;
	justify-content: left;
	padding-top: 10px;
	padding-left: 5px;	
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.head2{
	font-weight:900;
	font-size: 23px;
	text-shadow: 1px 1px #feb236;
	justify-content: center;
	padding-top: 10px;
	
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

