
<div class="container ubicacion" >
  
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<! -- Indicators -->
   <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
   </ol>
<! -- Wrapper for slides -->  
    <div class="carousel-inner"> 
      <div class="item active">
      <h1>Page to practice your Spanish and Portuguese language skills</h1>
	  <h3>Página para practicar tus conocimientos de idioma Español y Portugués</h3>
	  <h3>Página para praticar os seus conhecimentos de espanhol e português</h3>
			
			<div class="carousel-caption">
			<p></p>
			</div>
	  </div>

      <div class="item">
      <h1>When you write, you fix knowledge and LEARN</h1>
	  <h3>Cuando escribes, fijas los conocimientos y APRENDES</h3>
	  <h3>Quando escreves, fixas o conhecimento e APRENDES</h3>
			
			<div class="carousel-caption">
			<p></p>
			</div>
      </div>

      <div class="item">
     <h1>Listen to the audios and write what you listen to</h1>
	 <h3>Escucha los Audios y escribe lo que escuchas</h3>
	 <h3>Ouve os áudios e escreve o que ouves</h3>
			
			<div class="carousel-caption">
			<p></p>
			</div>
      </div>
	  
	 <div class="item">
     <h1>Practice writing random numbers and lots of phrases to practice</h1>
	 <h3>Practica escritura de números aleatorios y muchas frases para practicar</h3>
	 <h3>Praticar a escrita de números aleatórios e muitas frases para praticar</h3>	
			<div class="carousel-caption">
			<p></p>
			</div>
      </div>
	  
    </div>  
<! -- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
	   <span class="glyphicon glyphicon-chevron-left"></span>
	   <span class="sr-only">Previous</span>
	</a>
	 <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
	</a>
	
</div>
</div>
