/* slide */

.ubicacion {
	background-color:  #DAF7A6 ;
	
}

.ancho {

  text-align: center
}

#myCarousel {
	padding-left: 30px;
	
}


.blue {
	color: blue;	
}

.green {
	color: green;
}

.red {
	color: red;
}

/* media view   */


 main {
    
    display: flex;
	grid-auto-flow:row;
	
	grid-row-gap:0px;
	grid-column-gap:0px;
    flex-wrap: wrap;

  }

  div {
   
    flex-basis: 100%;
    
  } 
  
    
	h6 {
	flex-basis: 100%;
	}
  
  
  @media screen and (min-width: 992px) {
    main {
      flex-wrap: nowrap;
	
    }

    div {
      
	  flex-basis: 70%;
    }
	
	h6 {
	flex-basis: 100%;
	}
  
		
  }



















