.base {position: fixed; top: -20px; font-size: 15px; font-weight: 900; }

.Aimg1{  left: 10px; color: blue;  }

.Aimg3{  left: 50px; color: green;  }

.Aimg4{  left: 70px; color: blue;  }

.Aimg6{  left: 110px; color: green;  }

.Aimg7{  left: 130px; color: blue;  }

.Aimg9{  left: 180px; color: green;  }

.Aimg10{  left: 210px; color: blue;  }

.Aimg12{  left: 260px; color: green;  }


.Aimg14{  left: 300px; color: yellow;  }
.Aimg15{  left: 320px; color: green;  }


.Aimg17{  left: 360px; color: yellow;  }


.Bimg2{  left: 430px; color: yellow;  }
.Bimg3{  left: 450px; color: green;  }


.Bimg5{  left: 490px; color: yellow;  }
.Bimg6{  left: 510px; color: green;  }

.Bimg7{  left: 530px; color: blue;  }


.Bimg10{  left: 610px; color: blue;  }

.Bimg12{  left: 660px; color: green;  }



.Bimg15{  left: 720px; color: green;  }

.Bimg16{  left: 740px; color: blue;  }

.Bimg18{  left: 800px; color: green;  }

.Cimg1{  left: 810px; color: blue;  }

.Cimg3{  left: 850px; color: green;  }

.Cimg4{  left: 870px; color: blue;  }

.Cimg6{  left: 910px; color: green;  }

.Cimg7{  left: 930px; color: blue;  }

.Cimg9{  left: 980px; color: green;  }

.Cimg10{  left: 1010px; color: blue;  }

.Cimg12{  left: 1060px; color: green;  }

.Cimg13{  left: 1080px; color: blue;  }

.Cimg15{  left: 1120px; color: green;  }

.Cimg16{  left: 1140px; color: blue;  }

.Cimg18{  left: 1200px; color: green;  }

.Dimg1{  right: 5px; color: blue;  }

.Dimg3{  right: 30px; color: green;  }

.Dimg4{  right: 70px; color: blue;  }

.Dimg6{  right: 110px; color: green;  }

.Dimg7{  right: 130px; color: blue;  }

.Dimg9{  right: 180px; color: green;  }

.Dimg10{  right: 210px; color: blue;  }

.Dimg12{  right: 260px; color: green;  }

.Dimg13{  right: 280px; color: blue;  }

.Dimg15{  right: 320px; color: green;  }

.Dimg16{  right: 340px; color: blue;  }

.Dimg18{  right: 400px; color: green;  }

