		
/* media view   */


 main {
    
    display: flex;
	flex-direction:row;
	
    flex-wrap: wrap;
	justify-content: flex-start;
  }

  div {
    flex-basis: 100%;
  } 
    
ul {
	flex-basis: 90%;
}

  
  
  @media screen and (min-width: 992px) {
    main {
      display: flex;
	  flex-direction:row;
	  justify-content: flex-start;
	  flex-wrap: wrap;
	  margin-top: 7.5rem;
	  width: 1200px;
	 
    }

    .grid1 {
	grid-auto-flow:row;
	grid-template-rows: 30px 30px 500px;
	grid-template-columns:15px 200px 250px 320px 130px ;
	grid-row-gap:5px;
	grid-column-gap:25px;
}
#nro1 {grid-row: 1;
		grid-column-start: 2;
		grid-column-end: 4;
}
#nro2 {grid-row: 2;
		grid-column-start: 3;
		grid-column-end: 5;
}
#texto1 {color: #04B404;
		line-height: 95%;
}
#texto2 {color: #29098B;
		line-height: 95%;
}

.subtitulo {background-color: white;
}

.contenidoA {box-sizing: content-box;
		border: 4px solid #DE003A;
		border-radius: 32px;
		padding-left: 14px;
		grid-row: 3;
		grid-column-start: 2;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 6);
}
#vertical{
	font-size: 15px;
	font-weight:900;
	word-break: break-word;
	width: 0;
	justify-content: center;
	padding-top: 10px;
	padding-left: 5px;	
}

.contenidoB {box-sizing: content-box;
		border: 4px solid #DE003A;
		border-top-left-radius: 32px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 32px;
		border-bottom-right-radius: 0px;
		padding-left: 10px;
		grid-row: 3;
		grid-column-start: 3;
		grid-column-end: 6;
		overflow-y: scroll;
}
#lista li{
	display: inline-block;
	margin: 15px;
	
}

.btn-circle.btn-m {
			width: 80px;
			height: 80px;
			padding: 13px 18px;
			border-radius: 60px;
			font-size: 15px;
			text-align: center;
			color: #f2e394;
			background-color: #82b74b;
			border-color: #82b74b;
		}
		
.btn-circle.btn-l {
			width: 90px;
			height: 90px;
			padding: 13px 18px;
			border-radius: 60px;
			font-size: 15px;
			text-align: center;
			background-color: #ff7b25;
			border-color: #ff7b25;
		}
		
.btn-circle.btn-xl {
			width: 100px;
			height: 100px;
			padding: 13px 18px;
			border-radius: 60px;
			font-size: 15px;
			text-align: center;
			background-color: #b9936c;
			border-color: #b9936c;
		}
			
	
	
	
  }
	