
#listade10 {
  margin-top: 2rem;
  font-size:  10px;
  padding-top: 1px;
  text-align: center;
  background-color: white;
  border-radius: 32px;
  width: 400px;
}


.ubicarlista{
	position: absolute;
	left: 750px;
	top: 200px;	
	width: 300px;
}

.ubicarPercent{
	position: absolute;
	left: 500px;
	bottom: 100px;
}

.gradoA{
	color: blue;
	font-size: 100px;
}

.gradoByC{
	color: brown;
	font-size: 80px;
}
