
<button type="button" class="botonretroceso" (click)="goBack()">go back</button>
<br>

<!-- cuando la opcion es numeros random utiliza este componente, en caso contrario está oculto -->
<ng-container *ngIf="random">
<app-es-random (comparar)="onComparar()" (borrar)="onClear()" > </app-es-random>
</ng-container>
<!-- cuando la opcion es ingresar numero utiliza este componente, en caso contrario está oculto -->
<ng-container *ngIf="secuencial">
<app-es-secuencial [numeroingresado]="numeroingresado" [inicialingresado]="inicialingresado" 
					[secuenciaI]="secuenciaI" [secuenciaF]="secuenciaF" 
						(comparar)="onComparar()"  (cierrefinal)="cierrefinal()" (borrar)="onClear()"        
																> </app-es-secuencial>  <!-- comparte el valor desde palabras hacia secuencial  -->
</ng-container>
<br>

<app-comparar [palabraseleccionada]="palabraseleccionada" [respuestacomparar]="respuestacomparar" 
							[arrayPalabra]="arrayPalabra" [arrayRespuesta]="arrayRespuesta" 	
									[nuevoArray]="nuevoArray" [aciertos]="aciertos" [percentAciertos]="percentAciertos"
											     [mostrarIndicador]="mostrarIndicador"		>	 </app-comparar>
<p class="ocultar">{{numeroingresado}}</p>
<p class="ocultar">{{inicialingresado}}</p>
<p class="ocultar">{{respuestacomparar}} </p>
<p class="ocultar">{{palabraseleccionada}} </p>

<div id="texto" [ngClass]="mensajedealerta != '' ? 'alert alert-warning': 'ocultar'"> 
{{mensajedealerta | uppercase }}
 </div>

