<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<br><br>
<h3> Política de Privacidad </h3>
<div id="div1">
<p> Dictado Espresso con la finalidad de proteger los derechos individuales relacionados con el tratamiento automatizado de los datos
del Usuario, ha establecido una política de privacidad, la cual se describe a continuación.
<br><br>
La navegación en este sitio web implica la total aceptación de las siguientes disposiciones. Se aceptará la utilización
de cookies. En caso de no estar de acuerdo envía un correo electrónico a <span class="blue">alumnoespanyol@gmail.com</span>.
<br><br>
Actualmente esta página web no recoge datos del usuario relacionados con la identidad de una persona física, es decir, no solicitamos
nombres o apellidos, número de identificación, datos relacionados con la identidad física, genética, psíquica,
económica, cultural o social.
<br><br>
Esta página web recopila únicamente los datos relacionados con la interacción del usuario en las actividades y ejercicios. 
Utilizamos la información que recopilamos de varias formas, para: operar y mantener nuestro sitio web, mejorar, personalizar y ampliar nuestro 
sitio web, comprender y analizar cómo utiliza nuestro sitio web el usuario, desarrollar nuevos productos, servicios, características 
y funcionalidades.
<br><br>
Esta página web sigue un procedimiento estándar de utilización de archivos de registro. Estos archivos registran a los visitantes 
cuando visitan los sitios web. Todas las empresas de alojamiento lo hacen y forman parte de los análisis de los servicios de alojamiento. 
La información recogida por los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios 
de Internet (ISP), fecha y hora, páginas de referencia/salida y, posiblemente, el número de clics. Estos datos no están vinculados
a ninguna información que permita la identificación personal. El propósito de la información es analizar tendencias, 
administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recopilar información demográfica.
<br><br>
Actualmente esta página web no tiene anunciantes por lo que no nos responsabilizamos por avisos publicitarios y cookies de terceros que
accedan sin nuestro consentimiento. Usted puede optar por desactivar las cookies de estos anunciantes a través de las opciones individuales
de su navegador.
<br><br>
Con relación al uso de esta página web por parte de niños, animamos a los padres y tutores a que observen, participen y/o supervisen y 
guíen su actividad en línea.
</p>
</div>
<br><br>
<h3> Privacy Policy </h3>
<div id="div2">
<p> Dictado Espresso in order to protect the individual rights related to the automated processing of the User's data, 
has established a privacy policy, which is described below.
<br><br>
Browsing this website implies full acceptance of the following conditions. The use of cookies is accepted.
If you do not agree, please send an e-mail to <span class="black">alumnoespanyol@gmail.com</span>.
<br><br>
Currently this web site does not collect user data related to the identity of a physical person, that is, we do not ask for
names or surnames, identification number, data related to physical, genetic, psychological, economic, cultural or social identity.
<br><br>
This website only collects data related to user interaction activities and exercises. We use the information we collect in a variety 
of ways, to: operate and maintain our website, improve, customize and enhance our website, understand and analyze how you use our website and 
develop new products, services, features and functionality. 
<br><br>
This website follows a standard procedure of using log files. These files record visitors when they visit the web sites. 
All hosting companies do this and they are part of the hosting services analysis. 
The information collected by the log files includes Internet protocol (IP) addresses, browser type,
Internet service provider (ISP), date and time, referring/exit pages, and possibly the number of clicks. This data is not linked to 
any personally identifiable information. The purpose of the information is to analyze trends, 
administer the site, track users' movement around the site and gather demographic information.
<br><br>
Currently this website has no advertisers so we are not responsible for third party advertisements and cookies that are accessed without our consent.
You may choose to disable cookies from these advertisers through your individual browser options.
<br><br>
In connection with the use of this site by children, we encourage parents and tutors to observe,
participate in and/or supervise and guide their online activity.
</p>
</div>
<br>
<div id="div3">
<button type="button"><a routerLink="/barra">REGRESAR/BACK</a></button>
</div>