<main>
<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<br><br>
<h3> Política de Privacidad </h3>
<div id="div1">
<p> Dictado Espresso con la finalidad de proteger los derechos individuales relacionados con el tratamiento automatizado de los datos
del Usuario, ha establecido una política de privacidad, la cual se describe a continuación.
<br><br>
La navegación en este sitio web implica la total aceptación de las siguientes disposiciones. Se aceptará la utilización
de cookies. En caso de no estar de acuerdo envía un correo electrónico a <span class="blue">alumnoespanyol@gmail.com</span>.
<br><br>
Actualmente esta página web no recoge datos del usuario relacionados con la identidad de una persona física, es decir, no solicitamos
nombres o apellidos, número de identificación, datos relacionados con la identidad física, genética, psíquica,
económica, cultural o social.
<br><br>
Esta página web recopila únicamente los datos relacionados con la interacción del usuario en las actividades y ejercicios. 
Utilizamos la información que recopilamos de varias formas, para: operar y mantener nuestro sitio web, mejorar, personalizar y ampliar nuestro 
sitio web, comprender y analizar cómo utiliza nuestro sitio web el usuario, desarrollar nuevos productos, servicios, características 
y funcionalidades.
<br><br>
Esta página web sigue un procedimiento estándar de utilización de archivos de registro. Estos archivos registran a los visitantes 
cuando visitan los sitios web. Todas las empresas de alojamiento lo hacen y forman parte de los análisis de los servicios de alojamiento. 
La información recogida por los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios 
de Internet (ISP), fecha y hora, páginas de referencia/salida y, posiblemente, el número de clics. Estos datos no están vinculados
a ninguna información que permita la identificación personal. El propósito de la información es analizar tendencias, 
administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recopilar información demográfica.
<br><br>
En lo que concierne a los avisos publicitarios de los anunciantes, usted puede optar por desactivar las cookies de estos anunciantes a través de las opciones individuales de su navegador.
<br><br>
Con relación al uso de esta página web por parte de niños, animamos a los padres y tutores a que observen, participen y/o supervisen y 
guíen su actividad en línea.
</p>
</div>
<br><br>
<h3> Política de Privacidade </h3>
<div id="div2">
<p> A Dictado Espresso, a fim de proteger os direitos individuais relacionados com o tratamento automatizado dos dados do Utilizador, 
estabeleceu uma política de privacidade, que é descrita a seguir.
<br><br>
A navegação neste sítio Web implica a plena aceitação das seguintes disposições. A utilização de cookies será aceite. 
Se não concordar, envie uma mensagem de correio electrónico para <span class="blue">alumnoespanyol@gmail.com</span>.
<br><br>
Actualmente, este sítio Web não recolhe dados do utilizador relacionados com a identidade de uma pessoa singular, ou seja, 
não pedimos nomes ou apelidos, números de identificação, dados relativos à identidade física, genética, psicológica, económica,
cultural ou social.
<br><br>
Este sítio Web apenas recolhe dados relacionados com a interacção do utilizador em actividades e exercícios. Utilizamos as informações que recolhemos
de várias formas para: operar e manter o nosso sítio Web, melhorar, personalizar e aperfeiçoar o nosso sítio Web, compreender e analisar a forma como
o utilizador utiliza o nosso sítio Web, desenvolver novos produtos, serviços, características e funcionalidades.
<br><br>
Este sítio Web segue um procedimento normal de utilização de ficheiros de registo. Estes ficheiros de registo registam os visitantes quando estes 
visitam sítios Web. Todas as empresas de alojamento fazem isto e fazem parte da análise dos serviços de alojamento. As informações recolhidas pelos 
ficheiros de registo incluem endereços IP (Internet Protocol), tipo de browser, fornecedor de serviços Internet (ISP), 
a data e a hora, as páginas de referência/saída e, eventualmente, o número de cliques. Estes dados não estão ligados a qualquer informação pessoal
identificável. O objectivo da informação é analisar tendências, administrar o sítio, seguir o movimento dos utilizadores no sítio e recolher 
informações demográficas.
<br><br>
No que respeita a anúncios de anunciantes, o utilizador pode optar por desactivar os cookies desses anunciantes através das opções individuais do seu browser.
<br><br>
No que respeita à utilização deste sítio Web por crianças, encorajamos os pais e tutores a observar, participar e/ou supervisionar 
e orientar a sua actividade em linha.
</p>
</div>
<br>
<br><br>
<h3> Privacy Policy </h3>
<div id="div3">
<p> Dictado Espresso in order to protect the individual rights related to the automated processing of the User's data, 
has established a privacy policy, which is described below.
<br><br>
Browsing this website implies full acceptance of the following conditions. The use of cookies is accepted.
If you do not agree, please send an e-mail to <span class="black">alumnoespanyol@gmail.com</span>.
<br><br>
Currently this web site does not collect user data related to the identity of a physical person, that is, we do not ask for
names or surnames, identification number, data related to physical, genetic, psychological, economic, cultural or social identity.
<br><br>
This website only collects data related to user interaction activities and exercises. We use the information we collect in a variety 
of ways, to: operate and maintain our website, improve, customize and enhance our website, understand and analyze how you use our website and 
develop new products, services, features and functionality. 
<br><br>
This website follows a standard procedure of using log files. These files record visitors when they visit the web sites. 
All hosting companies do this and they are part of the hosting services analysis. 
The information collected by the log files includes Internet protocol (IP) addresses, browser type,
Internet service provider (ISP), date and time, referring/exit pages, and possibly the number of clicks. This data is not linked to 
any personally identifiable information. The purpose of the information is to analyze trends, 
administer the site, track users' movement around the site and gather demographic information.
<br><br>
As concerns advertisements from advertisers, you can choose to disable cookies from these advertisers through your individual browser options.
<br><br>
In connection with the use of this site by children, we encourage parents and tutors to observe,
participate in and/or supervise and guide their online activity.
</p>
</div>
<br>
<div id="div4">
<button type="button"><a routerLink="/barra">REGRESAR/BACK</a></button>
</div>
</main>