<main>
<div style="display:grid" class="grid1">

<div class="grid1">
<label id="escribe">{{label1}}</label>

<!-- <input  class="ingresatexto" [value]="arraytexto" 
         (keyup)="onKey2($event)"
			(blur)="actualizar()" 
			 (keyup.enter)="actualizar2();guardartexto.emit(); borrar(); lista.emit(); secuencia.emit(); resalta.emit()" /> -->

<textarea  class="ingresatexto" [value]="arraytexto" 
				(keyup)="onKey2($event)" 
						(blur)="actualizar()" 
						(keyup.enter)="actualizar2();guardartexto.emit(); borrar();lista.emit();secuencia.emit();resalta.emit()"></textarea>

<p id="escribeingles"> <b>Write your answer [ENTER]</b> </p>

  <p class="ocultar">Result: {{arraytexto}}</p>    <!--variable solo para probar funcionamiento -->
  <p class="ocultar">Result: {{letra}} {{array.length}}</p>  <!--variable solo para probar funcionamiento -->
<div>  
<app-teclado class="teclado" (notifyA1)="onNotifyA1()" 
								(notifyA2)="onNotifyA2()" 
									(notifyA3)="onNotifyA3()"
										(notifyA4)="onNotifyA4()"
											(notifyC)="onNotifyC()"
												(notifyE1)="onNotifyE1()"
													(notifyE2)="onNotifyE2()"
														(notifyI)="onNotifyI()"
															(notifyO1)="onNotifyO1()"
																(notifyO2)="onNotifyO2()"
																	(notifyO3)="onNotifyO3()"
																		(notifyU1)="onNotifyU1()"
																			(notifyU2)="onNotifyU2()"
																				(notifyN)="onNotifyN()"
																					(notifyInterr)="onNotifyInterr()"
																						(notifyExclam)="onNotifyExclam()"
										                                                       ></app-teclado>
																							   </div>
<br>

</div>

<!-- <div class="grid1">  UTILIZAR EN CASO DE HABILITAR EL SUBMIT 
<button class="button" type="submit" (click)="guardartexto.emit(); borrar(); lista.emit(); secuencia.emit()">ENVIAR/SUBMIT</button>         
</div> -->


</div>

</main>
