
<app-titulo></app-titulo>
    

<ng-container *ngIf="showbarra"> 
<app-barra-navegacion></app-barra-navegacion>
</ng-container> 

<router-outlet></router-outlet>   

<ng-container *ngIf="mostrarService.show"> 
<app-carrusel></app-carrusel>
</ng-container>


<main>

<div>
<ng-container *ngIf="mostrarService.show">
<app-youtube-video></app-youtube-video>
</ng-container>
</div>

<div></div>

<div  *ngIf="mostrarService.show">
<app-juego></app-juego>
</div>

<div></div>

<div></div>
</main>

<div>
<app-ad-banner [ads]="ads" ></app-ad-banner>
</div>


<ng-container *ngIf="mostrarService.show"> 
<app-piedepagina></app-piedepagina>
</ng-container>

