<div class="toolbar" role="banner">
<img src="/assets/img/1.jpg" alt="image" width="150px">
<p id="titulo"> {{title}} </p>
		
<div class="panel-group" id="accordion">
<a id="apoyame" href="#"
        data-toggle="collapse" class="texto" data-parent="#accordion" href="#collapseEnlace"                 
						 ><span class="glyphicon glyphicon-user" ></span>Support me/ Apóyame/ Apoie-me </a>

<div id="collapseEnlace" class="panel-collapse collapse">
<app-apoyame></app-apoyame>  
</div>

</div>

</div>


<router-outlet></router-outlet>         

<ng-container *ngIf="showbarra"> 
<app-barra-navegacion></app-barra-navegacion>
</ng-container> 

<ng-container *ngIf="mostrarService.show"> 
<app-carrusel></app-carrusel>
</ng-container> 



<footer class="container-fluid bg-4 text-center" *ngIf="mostrarService.show">
  <p>About DICTado Espresso  <a routerLink="/contacto"> Información de Contacto</a> <a routerLink="/privacidad"> Política de Privacidad</a></p>
</footer> 

