
<button type="button" class="botonretroceso" (click)="goBack()">go back</button>

<div class="container ubicacion1" >

<h1> {{textoEN | uppercase}}</h1>
<h3> {{textoES |uppercase}}{{separador}}{{textoPT |uppercase}}</h3>
<br><br>
<p><b> We invite you to try </b></p>
</div>



<div class="container ubicacion2" >

<ul >
<li	*ngFor='let categoria of categorias | slice:0:1'>{{categoria.idioma | uppercase}}<a class="texto" routerLink="/dictadoPrincipiante">{{categoria.modo | uppercase}}{{separador}}{{categoria.nivel | titlecase}}</a></li>
<li *ngFor='let categoria of categorias | slice:10:11'>{{categoria.idioma | uppercase}}<a class="texto" routerLink="/numerosIntermedio">{{categoria.modo | uppercase}}{{separador}}{{categoria.nivel | titlecase}}</a></li>
<li *ngFor='let categoria of categorias | slice:25:26'>{{categoria.idioma | uppercase}}<a class="texto" routerLink="/spanishTest2">{{categoria.modo | uppercase}}{{separador}}{{categoria.nivel | titlecase}}</a></li>
</ul>

</div>
