<main >
  
  <img src="/assets/img/1.jpg" alt="image" width="150px">
  
  <div class="titulo" >
  <p > {{title1}} </p>
  </div>
 


<div class="panel-group" id="accordion">
<a id="apoyame" href="#"
        data-toggle="collapse" class="texto" data-parent="#accordion" href="#collapseEnlace"                 
						 ><span class="glyphicon glyphicon-user" ></span>Support me/ Apóyame/ Apoie-me </a>

<div id="collapseEnlace" class="panel-collapse collapse">
<app-apoyame></app-apoyame>  
</div>
</div>


  
</main>
