<main>
<div class="display:inline categoria" *ngFor='let categoria of categorias | slice:inicialnivel:finalnivel'>  
        
        <b>{{categoria.idioma|uppercase}}</b> 
			{{espacio}}
        <b>{{categoria.modo|titlecase}}</b>
			{{espacio}}
		<kbd>{{categoria.nivel|titlecase}}</kbd>
</div>

<button type="button" class="botonretroceso" (click)="goBack()">go back</button>
<button type="button" class="botonHome"><a routerLink="/barra">Home</a></button>
<button type="button" class="enlace1" *ngFor='let categoria of categorias | slice:10:11'><a routerLink="/numerosIntermedio">{{categoria.nivel | titlecase}}</a></button>
<button type="button" class="enlace2" *ngFor='let categoria of categorias | slice:23:24'><a routerLink="/numerosIntermedio2">{{categoria.nivel | titlecase}}</a></button>

<br><br>
<div>
<app-numeros [minimo]="minimo" [maximo]="maximo" [nivel]="nivel" [inicialnivel]="inicialnivel"></app-numeros>
</div>
</main>