    
	<div class="container barra-uno-es">	
		<div class="panel panel-default">
		<div class="panel-heading">
		<h4 class="panel-title">
		<a *ngFor='let categoria of categorias | slice:0:1'  class="texto" data-parent="#accordion" >{{categoria.idioma | titlecase}} </a>
		</h4>
		</div>
		<div>
		<div class="panel-body">
		
		<div class="container barra-dos">
		<nav class="navbar navbar-inverse">
		<div class="container-fluid">      
		<ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li class="dropdown" *ngFor='let categoria of categorias | slice:0:1'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor='let categoria of categorias | slice:0:1'><a routerLink="/dictadoPrincipiante">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:1:2'><a routerLink="/dictadoIntermedio">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:2:3'><a routerLink="/dictadoAvanzado">{{categoria.nivel | titlecase}}</a></li>
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:3:4'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:3:4'><a routerLink="/espalabras" >{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:4:5'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li>
          <!--   <li *ngFor='let categoria of categorias | slice:5:6'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:6:7'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:6:7'><a routerLink="/essecuencias">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:7:8'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li>
            <!-- <li *ngFor='let categoria of categorias | slice:8:9'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:9:10'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:9:10'><a routerLink="/numerosPrincipiante">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:10:11'><a routerLink="/numerosIntermedio">{{categoria.nivel | titlecase}}</a></li>
			<li *ngFor='let categoria of categorias | slice:23:24'><a routerLink="/numerosIntermedio2">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:11:12'><a routerLink="/numerosAvanzado">{{categoria.nivel | titlecase}}</a></li>
          </ul>
        </li>
        <li  *ngFor='let categoria of categorias | slice:12:13'><a routerLink="/inProgress">{{categoria.modo | titlecase}}</a></li>
       
	   <li class="dropdown" *ngFor='let categoria of categorias | slice:24:25'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:24:25'><a routerLink="/spanishTest1">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:25:26'><a routerLink="/spanishTest2">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:26:27'><a routerLink="/spanishTest3">{{categoria.nivel | titlecase}}</a></li>
          </ul>
        </li>
		</ul>    
		</div>
		</nav>
		</div>
		
		
		</div>
		</div>
		</div>
		
	</div>
		
	<div class="container barra-uno-pt">	
		<div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
          <a *ngFor='let categoria of categorias | slice:13:14'  class="texto" >{{categoria.idioma | titlecase}} </a>
        </h4>
        </div>
        <div>
        <div class="panel-body">
		
		<div class="container barra-tres">
		<nav class="navbar navbar-inverse">
		<div class="container-fluid">      
		<ul class="nav navbar-nav">
       <!--  <li class="active"><a href="#">Home</a></li> -->
        
		<li class="dropdown" *ngFor='let categoria of categorias | slice:27:28'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:27:28'><a routerLink="/dictadoptPrincipiante">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:28:29'><a routerLink="/dictadoptIntermedio">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:29:30'><a routerLink="/dictadoptAvanzado">{{categoria.nivel | titlecase}}</a></li>
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:13:14'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:13:14'><a routerLink="/ptpalabras">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:14:15'><a routerLink="/inProgressPT">{{categoria.nivel | titlecase}}</a></li>
            <!-- <li *ngFor='let categoria of categorias | slice:15:16'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:16:17'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:16:17'><a routerLink="/ptsecuencias">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:17:18'><a routerLink="/inProgressPT">{{categoria.nivel | titlecase}}</a></li>
           <!--  <li *ngFor='let categoria of categorias | slice:18:19'><a routerLink="/inProgress">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
		<li class="dropdown" *ngFor='let categoria of categorias | slice:19:20'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:19:20'><a routerLink="/numerosPrincipiantePT">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:20:21'><a routerLink="/numerosintermedioPT">{{categoria.nivel | titlecase}}</a></li>
            <!-- <li *ngFor='let categoria of categorias | slice:21:22'><a href="#">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
        <li *ngFor='let categoria of categorias | slice:22:23'><a routerLink="/inProgressPT">{{categoria.modo | titlecase}}</a></li>
       <!--  <li><a href="#">Opción</a></li> -->
	   
	   <li class="dropdown" *ngFor='let categoria of categorias | slice:30:31'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{categoria.modo | titlecase}}<span class="caret"></span></a>
          <ul class="dropdown-menu formato">
            <li *ngFor='let categoria of categorias | slice:30:31'><a routerLink="/portugueseTest1">{{categoria.nivel | titlecase}}</a></li>
            <li *ngFor='let categoria of categorias | slice:31:32'><a routerLink="/portugueseTest2">{{categoria.nivel | titlecase}}</a></li>
         <!--   <li *ngFor='let categoria of categorias | slice:29:30'><a routerLink="/dictadoptAvanzado">{{categoria.nivel | titlecase}}</a></li> -->
          </ul>
        </li>
	   
		</ul>    
		</div>
		</nav>
		</div>
		
		</div>
        </div>
        </div>
    
	</div>
