<br>
<main>
<p class="ancho"><kbd>Your answer:</kbd><span class="texto1">{{respuestacomparar}}</span></p>

<ul class="list-inline texto2">
<li *ngFor="let npalabra of nuevoArray">
   <p [@wordIn] [ngStyle]="{'color':npalabra.includes('(')? 'red':'green',
						    'font-size':npalabra.includes('(')? '22px':'26px',
							'font-weight':npalabra.includes('(')? '500':'800'} "> {{npalabra}} </p>
  </li>
</ul> 



<div [ngClass]="mostrarIndicador != 'X' ? 'correcto': 'incorrecto'">
		{{mostrarIndicador}} 
</div>
</main>
