
  div {
    flex-basis: 100%;
  } 

  
  @media screen and (min-width: 992px) {

.ingresarNro{
	position: absolute;
	right: 300px;
	top: 75px;
	font-size: 16px;
}

input{
	width: 100px;
}

.mensajeEN{
	color: #4040a1;
	font-size: 12px;
	font-weight: 600;
}

  }